@import '../../variables.css';
.button {
  color: var(--primary-white);
  border-radius: 30px;
  padding: 10px;
  border: none;
  width: 250px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.button_raspisnay {
  background-color: var(--primary-blue);
}
